@font-face {
    font-family: 'Chalk Board';
    src: url('ChalkBoard.woff2') format('woff2'),
        url('ChalkBoard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

